* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.background.header {
  background-color: #43D9B8;
  height: 8.5%;
}
@media (min-width: 1000px) {
  .background.header {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
  }
}
.background.cta {
  margin-top: 4%;
}
.background.about {
  margin-top: 8%;
}
.background-team {
  margin-top: 8%;
}
.middle {
  background-color: white;
}
.header-container {
  margin: 0 5%;
}
@media (min-width: 800px) {
  .header-container {
    margin: 0 7%;
  }
}
@media (min-width: 1000px) {
  .header-container {
    max-width: 880px;
    margin: 0 auto;
  }
}
.cta-container {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .cta-container {
    margin: 0 7%;
  }
}
@media (min-width: 1000px) {
  .cta-container {
    max-width: 880px;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  .cta-container {
    flex-direction: row;
  }
}
.cta-container .placeholder {
  border: 1px dotted black;
  height: 15rem;
}
.footer-container {
  margin: 0 5%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 2rem;
}
@media (min-width: 800px) {
  .footer-container {
    margin: 0 7%;
  }
}
@media (min-width: 1000px) {
  .footer-container {
    max-width: 880px;
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  .footer-container {
    margin-top: 3rem;
  }
}
@media (min-width: 1000px) {
  .footer-container {
    margin-top: 4rem;
  }
}
.profiles-container {
  margin: 0 5%;
}
@media (min-width: 800px) {
  .profiles-container {
    margin: 0 7%;
  }
}
@media (min-width: 1000px) {
  .profiles-container {
    max-width: 880px;
    margin: 0 auto;
  }
}
.about-container {
  margin: 0 5%;
}
@media (min-width: 800px) {
  .about-container {
    margin: 0 7%;
  }
}
@media (min-width: 1000px) {
  .about-container {
    max-width: 880px;
    margin: 0 auto;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.sign {
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.middle-img {
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  .middle-img {
    order: 1;
    width: 40%;
    height: 30rem;
  }
}
@media (min-width: 1000px) {
  .cta-main .cta-content {
    margin-top: 3rem;
    display: flex;
    width: 32rem;
  }
}
.cta-main .cta-content .content-container h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 1rem 0 0.2rem 0;
}
.cta-main .cta-content .content-container h2 {
  font-family: "Raleway", sans-serif;
  margin: 0.2rem 0;
}
.cta-main .cta-content .content-container p {
  font-family: "Source Sans Pro", sans-serif;
  margin: 1rem 0;
  padding: 0 1.4rem 0 0;
}
.cta-main .cta-content .content-container .give {
  color: black;
  background-color: #43D9B8;
  cursor: pointer;
  padding: 0.7rem 1.3rem;
  border-radius: 0.35rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin: 0.6rem 0 1rem 0;
}
.cta-main .cta-content .content-container .give:hover {
  box-shadow: 0.08rem 0.08rem gray;
}
.cta-main .cta-content .content-container .receive {
  color: black;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0.7rem 1.3rem;
  border-radius: 0.35rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin: 0.6rem 0 1rem 0;
}
.cta-main .cta-content .content-container .receive:hover {
  box-shadow: 0.08rem 0.08rem gray;
}
.cta-main .banner {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 1.5rem 0;
  font-size: 1.8rem;
}
@media (min-width: 1000px) {
  .cta-main .banner {
    margin: 4rem 0 2rem 0;
    text-align: left;
    font-size: 3.4rem;
  }
}
.team-masthead .placeholder {
  height: 15rem;
  border: 1px dotted black;
  margin-bottom: 2rem;
}
.team-masthead .banner {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
}
@media (min-width: 800px) {
  .team-masthead .banner {
    font-size: 1.8rem;
  }
}
@media (min-width: 1000px) {
  .team-masthead .banner {
    font-size: 2rem;
    padding: 0 1rem;
  }
}
.profile-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
@media (min-width: 800px) {
  .profile-board {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.profile-board .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  margin: 1em 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
}
.profile-board .profile img {
  border-radius: 50%;
  height: 7em;
}
.profile-board .profile .name {
  margin: 1rem 0 0.5rem 0;
  font-weight: bold;
}
.about-masthead {
  font-family: "Raleway", sans-serif;
  margin: 3rem 0 1rem 0;
  line-height: 1.2;
  font-size: 2.2rem;
}
.testimonials-board {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
@media (min-width: 1000px) {
  .testimonials-board {
    align-items: flex-end;
  }
}
.testimonials-board .testimonial {
  display: flex;
  padding: 2rem;
  border: 1px dotted black;
  border-radius: 1rem;
  margin: 0.5rem 0;
  align-items: center;
}
@media (min-width: 1000px) {
  .testimonials-board .testimonial {
    width: 60%;
  }
}
.testimonials-board .testimonial img {
  border-radius: 50%;
  height: 7em;
}
.testimonials-board .testimonial .testimonial-text {
  margin-left: 2rem;
  font-family: "Source Sans Pro", sans-serif;
}
.testimonials-board .testimonial .testimonial-text .name {
  font-weight: bold;
  padding: 0.5rem 0;
}
footer {
  height: 1rem;
}
footer .apple {
  width: 9rem;
  margin: 1rem 0;
}
footer .nav-footer {
  margin-top: 1rem;
}
footer .nav-footer a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 1rem;
  margin: 0 0.2rem 0 0;
}
footer .nav-footer a:hover {
  color: #43D9B8;
}
footer p {
  margin-top: 0.5rem;
  font-family: "Source Sans Pro", sans-serif;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
}
.dropdown .nav {
  display: flex;
  width: 8rem;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1000px) {
  .dropdown .nav {
    justify-content: space-between;
    width: 20rem;
  }
}
.dropdown .nav a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #000000;
  cursor: pointer;
}
.dropdown .nav a:hover {
  color: #F1F1F1;
}
.dropdown .nav .nav-link {
  display: none;
}
@media (min-width: 1000px) {
  .dropdown .nav .nav-link {
    display: block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
  }
}
.dropdown .nav .nav-link:hover {
  color: #F1F1F1;
}
.dropdown .nav .fa-bars {
  font-size: 1.3rem;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .dropdown .nav .fa-bars {
    display: none;
  }
}
.dropdown .nav .dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 1.9rem;
  top: 2.3rem;
  border: 1px solid #F1F1F1;
  border-radius: 0.2rem;
  width: 10rem;
  padding: 0.5rem;
  background: #F1F1F1;
}
@media (min-width: 1000px) {
  .dropdown .nav .dropdown-content {
    display: none;
  }
}
.dropdown .nav .dropdown-content .dropdown-link {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
  border-bottom: none;
  width: 40%;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #000000;
}
.dropdown .nav .dropdown-content .underscore-link {
  border-bottom: 1px solid black;
}
.dropdown .nav .dropdown-hidden {
  display: none;
}
.dropdown .logo {
  text-align: center;
}
