.header {
    background-color: @background-gray;
    border: 1px solid red;
    height: 63px;
}

.middle {
    background-color: white;
    border: 1px dashed green;
}

footer {
    background-color: @background-gray;
}