.header-container {
    .side-rails;
}

.cta-container {
    .side-rails;
    display: flex;
    flex-direction: column;

    @media @desktop {
        flex-direction: row;
    }

    .placeholder {
        border: 1px dotted black;
        height: 15rem;
    }

}

.footer-container {
    .side-rails;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;

    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 1rem 0;

        .profile-placeholder {
            border-radius: 50rem;
            width: 7rem;
            height: 7rem;
            background: gray;
            border: 1px solid black;
        }

        .name {
            margin-top: 1rem;
            font-weight: bold;
        }
    }

}