.side-rails {
    max-width: 95%;
    margin: 0 auto;
    border: 1px dotted black;
}
.custom-btn(@fontcolor; @backgroundcolor){
    color: @fontcolor;
    background-color: @backgroundcolor;
    cursor: pointer;
    padding: .7rem 1.3rem;
    border-radius: .35rem;
}

