.dropdown {
    border: 1px dashed black;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;

    .dropdown-button {
        border: 1px dashed black;
    }

    .dropdown-content {
        border: 1px dashed red;
        


        .dropdown-link {
            border: 1px dashed blue;
        }

    }

    .dropdown-hidden {
        display: none;
    }
}